In [1]:
from jqdatasdk import *
auth('15574365976','Rickzhou0416')
import pandas as pd

auth success

In [2]:
get_query_count()

{'total': 1000000, 'spare': 1000000}

In [5]:
df_ic = get_bars(["IC9999.CCFX"], count=1000000, unit='1m',
                fields=['date','open','high','low','close', 'volume', 'money', 'open_interest'],
                include_now=False, end_dt=None, fq_ref_date=None,df=True)

In [6]:
df_ic

                                  date    open    high     low   close  \
IC9999.CCFX 0      2015-04-17 09:16:00  7722.0  7727.6  7708.4  7708.4
            1      2015-04-17 09:17:00  7709.4  7709.4  7700.4  7700.4
            2      2015-04-17 09:18:00  7700.0  7704.6  7699.2  7699.4
            3      2015-04-17 09:19:00  7700.0  7700.4  7686.0  7686.0
            4      2015-04-17 09:20:00  7687.2  7697.0  7686.0  7695.0
...                                ...     ...     ...     ...     ...
            393595 2021-12-06 14:56:00  7221.6  7222.8  7219.8  7219.8
            393596 2021-12-06 14:57:00  7220.0  7220.8  7218.6  7219.0
            393597 2021-12-06 14:58:00  7219.2  7219.2  7217.0  7218.2
            393598 2021-12-06 14:59:00  7218.2  7222.0  7216.6  7219.2
            393599 2021-12-06 15:00:00  7219.4  7220.8  7215.2  7215.2

                    volume        money  open_interest
IC9999.CCFX 0        636.0  981331160.0         6677.0
            1        466.0  717961680.0         6758.0
            2        370.0  569864800.0         6808.0
            3        410.0  631039800.0         6829.0
            4        371.0  570677480.0         6838.0
...                    ...          ...            ...
            393595   524.0  756818160.0       117999.0
            393596   433.0  625230760.0       118207.0
            393597   559.0  806982240.0       118402.0
            393598   597.0  861998960.0       118535.0
            393599   679.0  980243560.0       118648.0

[393600 rows x 8 columns]

In [12]:
df_ic.set_index('date').to_pickle("./IC_1m.pkl")